<ion-content *ngFor = "let item of dataList">
    <form novalidate #myForm="ngForm" (ngSubmit)="insert(myForm.value)">
        <div padding-horizontal>
          <ion-item>
            <ion-label position="stacked">
              <h1>ไอดี</h1>
            </ion-label>
            <ion-input type="text" ngModel name="Music_id"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              <h1>ชื่อ</h1>
            </ion-label>
            <ion-input type="text" ngModel name="Music_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              <h1>ศิลปิน</h1>
            </ion-label>
            <ion-input type="text" ngModel name="Band"></ion-input>
          </ion-item>
          
        </div>
    
     
    
        <div padding-horizontal>
          <ion-button shape="round"  size="small" type="submit" >บันทึก</ion-button>
        </div>
      </form>
  </ion-content>